
<div class = "loader" *ngIf = "isLoading">
    <div class="spinner-border" role="status"  >
        <span class="sr-only">Loading...</span>
      </div>
</div>
<div class="container-fluid pl-5" *ngIf = "!isLoading">
    <h5>SpaceX Launch Program</h5>
    <div class="row">
        <div class="col bg-white">
            <div>
                <h6>Filters</h6>
                <p class="text-center">
                    <span class="border-bottom ">Launch Year</span>
                </p>
                <button *ngFor="let year of yearArr" class="col-5 btn filter-btn mb-1" [routerLink]="['/']" [queryParams]="{ launch_year: year}" queryParamsHandling="merge"
                    [ngClass]="{'offset-2': year%2 != 0}">{{year}}</button>
            </div>
            <div class  ="pt-3 ">
                <p class="text-center">
                    <span class="border-bottom ">Successful Launch </span>
                </p>
                <button class = "col-5 filter-btn"  [routerLink]="['/']" [queryParams]="{ launch_success: 'true'}" queryParamsHandling="merge">True</button>
                <button class = "col-5 offset-2 filter-btn"  [routerLink]="['/']" [queryParams]="{ launch_success: 'false'}" queryParamsHandling="merge">False</button>
            </div>
            <div class  ="pt-3 pb-5">
                <p class="text-center">
                    <span class="border-bottom ">Successful Landing </span>
                </p>
                <button class = "col-5 filter-btn" [routerLink]="['/']" [queryParams]="{ land_success: 'true'}" queryParamsHandling="merge">True</button>
                <button class = "col-5 offset-2 filter-btn" [routerLink]="['/']" [queryParams]="{ land_success: 'false'}" queryParamsHandling="merge">False</button>
            </div>
        </div>
        <div class="col-10 pl-5">
            <div class = "row">
                <div class = "bg-white co-md-3 col-sm-3 launch-section" *ngFor = "let data of launchData">
                    <div class = "image-preview">
                         <img [src] = "data.links.mission_patch" [alt] = "data.mission_name" class="d-none d-md-block .d-lg-block" />
                         <img [src] = "data.links.mission_patch_small" [alt] = "data.mission_name" class="d-sm-block d-md-none d-xs-block" />
                    </div>
                    <div class = "mt-1 pb-3">
                        <p class = "text-blue"><strong>{{data.mission_name}} #{{data.flight_number}}</strong></p>
                        <h6 *ngIf  ="data.mission_id.length > 0">Mission Ids:</h6>
                        <ul *ngIf  ="data.mission_id.length > 0"> 
                            <li *ngFor = "let missionId of data.mission_id">{{missionId}}</li>
                        </ul>
                        <span class = "font-weight-bold">Launch Year: </span>{{data.launch_year}}<br/>
                        <span class = "font-weight-bold">Successful Launch: </span>{{data.launch_success}}<br/>
                        <span class = "font-weight-bold">Successful Landing: </span>{{data.land_success}}
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer pt-5" *ngIf = "!isLoading">
    <div class="container text-center">
      <span class="font-weight-bold">Developed by:</span> Subham Kumar
    </div>
</footer>
